{% extends "page.twig" %}
{% set base_path = url('root') %}

{% block page %}
<div class="row">
    <h3 class="title-important">Best Sales</h3>
    {% for product in best_products %}
    <div class="col-xs-3 product-block">
        <a href="{{ url('product', {id: product.id, slug: product.slug}) }}">
            <img src="{{ base_path }}images/{{ product.picture }}.png">
            <p>
                {{ product.title }}
            </p>
        </a>
    </div>
    {% endfor %}
</div>
<div class="row">
    <h3 class="title-important">All Categories</h3>
    {% for category in categories %}
    <div class="col-xs-6 category-block">
        <a href="{{ url('category', {id: category.id, slug: category.slug}) }}">
            <img src="{{ base_path }}images/{{ category.picture }}.png">
            {{ category.title }}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
